<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
      <Cell><Data ss:Type="String">Title</Data></Cell>
      <Cell><Data ss:Type="String">Link Url</Data></Cell>
      </Row>
    <% @videos.each do |v| %>
      <% if v.s3 %> 
      <Row>
        <Cell><Data ss:Type="String"><%= v.title %></Data></Cell>
        <Cell><Data ss:Type="String"><code>https://s3.amazonaws.com/livesplitter/uploads/videos/icclb/<%= v.title %>.mp4</code></Data></Cell>
      </Row>
      <% end %>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

