<link href="//vjs.zencdn.net/4.9/video-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.9/video.js"></script>

<p> <%= @video.title %></p>
<script>
  var isFirefox = typeof InstallTrigger !== 'undefined';   // Firefox 1.0+

  if (isFirefox){
    videojs.options.techOrder = ['flash', 'html5'];  
  }
  else{
    videojs.options.techOrder = ['html5', 'flash'];
  }
  
</script>
<div class="container">
<h2 class="video-title"><%= @video.title %> </h2>
	<video class="video-js vjs-default-skin player"controls preload="none" width="560" height="315" data-setup='{}'>
	    <source src="https://livesplitter.s3.amazonaws.com/uploads/videos/icclb/FG34-15-android.mp4
" type='video/mp4' />

	    <object id="flash_fallback_1" class="vjs-flash-fallback" width="560" height="315" type="application/x-shockwave-flash" 
        data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
        <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
        <param name="allowfullscreen" value="true" />
        <param name="flashvars" 
          value='config={"playlist":[{"url": "https://livesplitter.s3.amazonaws.com/uploads/videos/icclb/FG34-15-android.mp4
","autoPlay":false,"autoBuffering":true}]}' />
      </object>
  	</video>
	   
</div>