<div class = "jumbotron">
  <div class = "container">
    <h1> 2015 Annual Conference and Group A Public comment Hearings</h1>
    <h3> Long Beach, California</h3>
    <h4> You can Sign In using your account informantion or Sign Up as a new account with the membership code. </h4>
    <a style = "color:white" class = "btn btn-primary btn-lg" href = "/users/sign_in" role = "button"> Sign In</a>
    <a style = "color:white" class = "btn btn-success btn-lg" href = "/users/sign_up" role = "button"> Sign Up</a>
  </div>
</div>
