<div class = "container">
  <div class = "row">
    <div class = "col-md-4">
      <%= image_tag "3000S15_IBC_md.jpg" , {height: 320, width: 240}  %>
    </div>
    <div class = "col-md-4">  
      <a href="/vidoes">
        <%= image_tag "3000S15_IBC_md.jpg"  , {height: 320, width: 240} %>
      </a>
    </div>
    <div class = "col-md-4">
      <%= image_tag "3000S15_IBC_md.jpg"  , {height: 320, width: 240} %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-4"></div>
    <div class = "col-md-4"></div>
    <div class = "col-md-4"></div>
  </div>
  <div class = "row">
    <div class = "col-md-4"></div>
    <div class = "col-md-4"></div>
    <div class = "col-md-4"></div>
  </div>
  
</div>