<div class = "container">
  <div class = "row">
    <% @codes.each_with_index do |code,index| %>
      <div class = "col-md-3">
        <%= link_to code do %>
        <div class = "thumbnail">
        <%= image_tag "#{code.image_url}" %>
        <h3><%= code.name %></h3>
        </div>
      </div>
      <% end %>
      <% if (index+1) % 4 == 0 %>
        <div class = "clearfix"></div>
      <% end %>

    <% end %>

  </div>
  
</div>

