<div class = "container">
  <div class = "row">
    <div class = "col-md-4">
      <img src = "/assets/3000S15_IBC_md.jpg" width = 240 height = 320 border-radius = 5px/>
    </div>
    <div class = "col-md-4">  
      <a href="/vidoes">
        <img src = "/assets/3100S15_IRC_md.jpg" width = 240 height = 320/>
      </a>
    </div>
    <div class = "col-md-4">
      <img src = "/assets/3200S15_IPC_md.jpg" width = 240 height = 320 />
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-4"></div>
    <div class = "col-md-4"></div>
    <div class = "col-md-4"></div>
  </div>
  <div class = "row">
    <div class = "col-md-4"></div>
    <div class = "col-md-4"></div>
    <div class = "col-md-4"></div>
  </div>
  
</div>