<script>
$(document).ready(function(){
    $("#filter").keyup(function(){
 
        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val(), count = 0;
 
        // Loop through the comment list
        $(".video").each(function(){
 
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
 
            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
                count++;
            }
        });
 
        // Update the count
        var numberItems = count;
        $("#filter-count").text("Number of Videos = "+count);
    });
    
    $(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
});
</script>

<div class = "container">

  <div class = "row">
    <div class = "col-sm-12">
    <form id="live-search" action="" class="styled" method="post">
        <fieldset>
          <input type="text" class="form-control" id="filter" value="" placeholder="Search" />
          <span id="filter-count"></span>
        </fieldset>
      </form>
    </div>
    <hr>
    <% @sections.each do |section| %>
     <div class = "panel panel-success col-md-4 ">
       <div class = "pane">
        <h3><%= section.title %></h3>
        <ul class = "list-group"> 
        <% section.videos.each do |video| %> 
          <%= link_to video.title, video , :class => "video list-group-item"%>
        <% end %>
          
        </ul>
        </div>
     </div>
     <% end %>
  </div>
</div>

