/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  font-family: "Ubuntu", Arial, sans-serif;
}


.site-footer,
.site-info,
.site-info a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-wrap{ max-width: 1160px; margin:0 auto;}
.site-footer { background:#454445; color: #fff; padding: 20px 0; position:relative; bottom:-1px;}
.site-footer .footer-links{ font-size:14px; font-weight:bold;}
.site-footer .footer-links li{ padding:5px 0;}
.site-footer .footer-links li a{ color:#fff; text-decoration:none; border:1px transparent solid;}
.site-footer .footer-links li a:hover{ border-bottom-color:#fff;}
.site-footer .footer-col h2{ margin: 0 0 10px; padding: 0 0 10px; font-size:114.2857142857143%; border-bottom: 1px solid #fff; line-height:1;}
.site-footer .footer-col{ float:left; margin-left:2%;}
.site-footer .logo-col{ /*min-width: 199px; max-width: 199px;*/ width:13%; margin-left:0;}
.site-footer .logo-col .ismobile{ display:none;}
.site-footer .about-col{ width: 25%;}
.site-footer .quick-links-col{ width: 41%;}
.site-footer .quick-links-col .footer-links{ width:50%; float:left;}

.site-footer .menu-footer-menu-container{ width:70%; float:left; margin-left:2%;}
.site-footer .menu-footer-menu-container .menu-item{ float:left; width:50%; float:left; font-size:114.2857142857143%; font-weight:bold; line-height:1; padding-right:5%;}
/*.site-footer .menu-footer-menu-container .menu-item:nth-child(2) .menu-item{ width:50%; float:left;}*/
.site-footer .menu-footer-menu-container .menu-item:first-child{ /*width:25%; margin-left:0;*/}
.site-footer .menu-footer-menu-container .menu > li > a, 
.social-links-container h3{ margin: 0 0 10px; padding: 0 0 10px; display:block; border: 1px solid #fff; border-width:0 0 1px; color:#fff; position:relative;}
.site-footer .menu-footer-menu-container .sub-menu .menu-item{ width:50%; line-height: 1.5; padding:0 2% 0 0; margin:0; font-weight:normal;}
.site-footer .menu-footer-menu-container .sub-menu .menu-item a{ border:0; display:inline-block; border-bottom:1px transparent solid; text-decoration:none; color:#fff; font-size:14px;}
.site-footer .menu-footer-menu-container .sub-menu .menu-item a:hover,
.site-footer .social-links-container a:hover{ border-bottom-color:#fff;}

.site-footer .menu-footer-menu-container,
.social-links-container{ padding-top:18px;}


.site-footer .social-links-container{ float: right; width:15%;}
.site-footer .social-links-container h3{ font-size:114.2857142857143%; line-height:1;}
.site-footer .media-links{}
.site-footer .social-links { overflow:hidden;}
.site-footer .social-links li { float: left; margin:0 9px 9px 0; }
.site-footer .social-links li:hover{ opacity:.7;}
/*.site-footer .social-links li:first-child{ margin-left:0;}*/
.site-footer .social-links li a{ display:block; width: 26px; height: 26px; border:0;}
.site-footer .social-links li a.social-facebook{ background-position:-72px 0;}
.site-footer .social-links li a.social-twitter{ background-position:-72px -26px;}
.site-footer .social-links li a.social-youtube{ background-position:-72px -52px;}
.site-footer .social-links li a.social-linkedin{ background-position:-72px -78px;}

.site-footer .social-links-container .ne_links{ padding:5px 0;}
.site-footer .social-links-container a{ text-decoration:none;  border-bottom:1px transparent solid;  color:#fff;}

.site-footer .site-info{ color: #818181; clear:both; float: left; width:100%; font-size: 85.71428571428571%; margin-top: 20px;}
.site-footer .site-info .copyright{ font-style:normal; font-weight:bold; margin:0;}


li {list-style-type: none;}




.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.center-text{
  text-align: center;
}

a:hover { color: black; background-color: transparent; text-decoration: none; }

.jumbotron{
  background-image: url(longbeach.jpg);
  background-repeat: no-repeat;
  min-height: 800px;
  background-size: cover;
  margin: 0;
}

.row{
  padding-top: 80px;
}

.container{
  min-height: 700px;
}










