<footer style = "padding-bottom: 340px"class="site-footer" role="contentinfo">
      <div class="footer-wrap">
      <div class="footer-col logo-col">
        <img class="isview" src="http://www.iccsafe.org/wp-content/themes/iccwp/images/footer-logo.png" alt="ICC">
        <img class="ismobile" src="http://www.iccsafe.org/wp-content/themes/iccwp/images/footer-logo-mobile.png" alt="ICC">
      </div>
            <div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-463" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-463"><a>About ICC</a>
<ul class="sub-menu">
  <li id="menu-item-33983" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33983"><a href="http://www.iccsafe.org/about-icc/overview/about-international-code-council/">About</a></li>
  <li id="menu-item-2333" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2333"><a href="http://www.iccsafe.org/membership/membership/">Membership</a></li>
  <li id="menu-item-43902" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-43902"><a href="http://www.iccsafe.org/about-icc/contact-icc/">Contact Us</a></li>
  <li id="menu-item-45985" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-45985"><a href="http://www.iccsafe.org/about-icc/periodicals-and-newsroom/news-overview/">Periodicals and Newsroom</a></li>
  <li id="menu-item-34900" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-34900"><a href="http://www.iccsafe.org/content/sitemap/">Sitemap</a></li>
  <li id="menu-item-18633" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-18633"><a href="http://www.iccsafe.org/about-icc/legal/">Legal</a></li>
  <li id="menu-item-2327" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2327"><a href="http://www.iccsafe.org/about-icc/government-relations/">Government Relations</a></li>
  <li id="menu-item-2319" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2319"><a href="http://www.iccsafe.org/about-icc/icc-online-privacy-policy/">Privacy Policy</a></li>
  <li id="menu-item-2510" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2510"><a href="http://www.iccsafe.org/AboutICC/Documents/CodeOfEthics.pdf">Code of Ethics</a></li>
</ul>
</li>
<li id="menu-item-471" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-471"><a>Quick Links</a>
<ul class="sub-menu">
  <li id="menu-item-472" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-472"><a title="cdpACCESS" href="http://cdpaccess.com/">cdpACCESS</a></li>
  <li id="menu-item-478" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-478"><a href="http://www.iccsafe.org/myicc/">My ICC</a></li>
  <li id="menu-item-477" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-477"><a href="http://www.iccsafe.org/events/month/">Events Calendar</a></li>
  <li id="menu-item-69721" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-69721"><a href="http://iccsafe.applicantpro.com/jobs/">Careers at ICC</a></li>
  <li id="menu-item-34893" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-34893"><a href="http://www.iccsafe.org/about-icc/organizational-structure/global-services/">Global Services</a></li>
  <li id="menu-item-34003" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-34003"><a href="http://www.iccsafe.org/content/career-center/">Member Career Center</a></li>
  <li id="menu-item-62169" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62169"><a href="http://campusonline.iccsafe.org/">ICC Campus</a></li>
  <li id="menu-item-34895" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-34895"><a href="http://www.iccsafe.org/education-certification/education/scholarships/">Scholarships</a></li>
  <li id="menu-item-34896" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-34896"><a href="http://www.iccsafe.org/about-icc/safety/consumer-safety/">Consumer Safety</a></li>
  <li id="menu-item-2505" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2505"><a href="http://www.icc-es.org/">ICC Evaluation Service</a></li>
  <li id="menu-item-2504" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2504"><a href="http://www.iasonline.org/">International Accreditation Service</a></li>
  <li id="menu-item-2502" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2502"><a href="http://www.solar-rating.org/">Solar Rating &amp; Certification Corporation</a></li>
</ul>
</li>
</ul></div>   
      <div class="social-links-container">
        <h3>Connect with Us</h3>
        <div class="media-links">
          <div class="ne_links"><a href="#">News RSS</a>   |   <a href="#">Events RSS</a></div>
          <ul class="social-links">
            <li><a class="social-facebook" target="_blank" href="//www.facebook.com/pages/International-Code-Council/122907857740822?ref=ts"></a></li>
            <li><a class="social-twitter" target="_blank" href="//twitter.com/IntlCodeCouncil"></a></li>
            <li><a class="social-youtube" target="_blank" href="//www.youtube.com/user/ICCMEDIA"></a></li>
            <li><a class="social-linkedin" target="_blank" href="//www.linkedin.com/company/31134"></a></li>
          </ul>
        </div>
      </div>
      <div class="site-info">
        <a class="pull-right white" href="http://zerosixmedia.com/" target="_blank">Powered by Zero Six Media</a>
        <address class="copyright">COPYRIGHT © 2015 INTERNATIONAL CODE COUNCIL, INC. ALL RIGHTS RESERVED.</address>
      </div><!-- .site-info -->     
      </div>
    </footer>
